body{
    background-color: grey;
}

/* ////////////////////////////////////////////////////////////////////////////// */


.firsthead{
    background-color: white;
    border:2px solid white;
    color: rgb(235, 14, 124);
    font-family: Broadway;
    font-size:40px;
    font-weight: lighter;
    border-radius: 50px;
    width:30%;
    padding:34px;
    margin:34px;
    /* margin-top: 40px; */
    text-align: center;
    
}

/* ////////////////////////////////////////////////////////////////////////////// */

.startpara{
    font-size: 145%;
    text-align: justify;
    background-color: white;
    color: rgb(58, 5, 58);
    font-family: algerian;
    border:2px solid grey;
    border-radius: 30px;
    box-sizing: border-box;
    padding:5%;
    width:650px;
    
    

}

/* ////////////////////////////////////////////////////////////////////////////// */

.nav{
    border:2px solid grey;
    background-color: blue;
    display: inline-block;
    width:100%;
    border-radius: 50px;

}

/* ////////////////////////////////////////////////////////////////////////////// */



.firstlnk{
    text-align: center;
    font-family: Bradley Hand ITC;
    font-size: 300%;
    border:2px solid grey;
    background-color: white;
    border-radius: 50%;
    width:20%;
    padding:40px;
    box-sizing: border-box;
    float:left;
    margin:auto;
    
}

/* ////////////////////////////////////////////////////////////////////////////// */

a{
    text-decoration: none;

}

a:hover{
   color: aquamarine;
}

a:visited{
    colour:red;
}

/* ////////////////////////////////////////////////////////////////////////////// */

#firstdp{
    height:350px;
    width:350px;
    float:right;
    box-sizing: border-box;
}

/* ////////////////////////////////////////////////////////////////////////////// */

#gallery:hover{
    
}

